<h1> List of Categories</h1>

<% category.forEach(function(c) { %>
    <div class="well">
      <h3>
        <a href="/categories/<%=c.id%>"><%= c.name %></a>
      </h3>
    </div>
  <% }) %>









